:root {
  --md-primary-fg-color: #123f9a;
  --md-primary-fg-color--light: #3a66c7;
  --md-primary-fg-color--dark: #0b2c6f;
}
.md-header .md-logo img {
  height: 0.0001rem;     /* Muy pequeño */
  width: 0.0001rem;
}
/* Reducir el tamaño del icono del repositorio (Ko-Fi) */
.md-source__icon svg {
  width: 1rem;
  height: 1rem;
}
/* Muestra un icono de flecha al lado de enlaces externos */
.md-content a[href^="http"]:not([href*="soyel.de"])::after {
  content: " ↗";
  font-size: 0.8em;
  display: inline-block;
}
.prev-next-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.prev-next-nav a {
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
    border-radius: 4px;
}
.prev-next-nav a:hover {
    background-color: var(--md-accent-fg-color);
}

/* Oculta el texto del título en la barra superior, mostrando solo el logo */
.md-header__topic .md-ellipsis {
  display: none;
}
