/* ============================================
   Iconos en pestañas (orden fijo)
   ============================================ */

/* 1. Inicio (home) */
.md-tabs__list > li:nth-child(1) .md-tabs__link {
    font-size: 0;
    background: url('/assets/images/iconos/home.svg') center / contain no-repeat;
    width: 1.28rem;
    height: 1.28rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    vertical-align: middle;
    position: relative;
    top: -0.50rem;
}

/* 2. AstroMitos */
.md-tabs__list > li:nth-child(2) .md-tabs__link {
    font-size: 0;
    background: url('/assets/images/iconos/blog.svg') center / contain no-repeat;
    width: 1.28rem;
    height: 1.28rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    vertical-align: middle;
    position: relative;
    top: -0.50rem;        /* ajusta a ojo después */
}

/* 3. Clientes */
.md-tabs__list > li:nth-child(3) .md-tabs__link {
    font-size: 0;
    background: url('/assets/images/iconos/acerca.svg') center / contain no-repeat;
    width: 1.28rem;
    height: 1.28rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    vertical-align: middle;
    position: relative;
    top: -0.50rem;
}

/* 4. Famosos */
.md-tabs__list > li:nth-child(4) .md-tabs__link {
    font-size: 0;
    background: url('/assets/images/iconos/famosos.svg') center / contain no-repeat;
    width: 1.28rem;
    height: 1.28rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    vertical-align: middle;
    position: relative;
    top: -0.50rem;
}

/* 5. Cursos */
.md-tabs__list > li:nth-child(5) .md-tabs__link {
    font-size: 0;
    background: url('/assets/images/iconos/cursos.svg') center / contain no-repeat;
    width: 1.28rem;
    height: 1.28rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    vertical-align: middle;
    position: relative;
    top: -0.50rem;
}

/* 6. zona-contacto */
.md-tabs__list > li:nth-child(6) .md-tabs__link {
    font-size: 0;
    background: url('/assets/images/iconos/contacto.svg') center / contain no-repeat;
    width: 1.28rem;
    height: 1.28rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    vertical-align: middle;
    position: relative;
    top: -0.50rem;
}

/* 7. Temas 
.md-tabs__list > li:nth-child(7) .md-tabs__link {
    font-size: 0;
    background: url('/assets/images/iconos/temas.svg') center / contain no-repeat;
    width: 1.28rem;
    height: 1.28rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    vertical-align: middle;
    position: relative;
    top: -0.36rem;
}
*/
/* Alinear los <li> para que no se descuadren */
.md-tabs__list > li:nth-child(1),
.md-tabs__list > li:nth-child(2),
.md-tabs__list > li:nth-child(3),
.md-tabs__list > li:nth-child(4),
.md-tabs__list > li:nth-child(5),
.md-tabs__list > li:nth-child(6){
    display: inline-flex;
    align-items: center;
}
/* Ocultar la séptima pestaña (Servicios) del topbar */
.md-tabs__list > li:nth-child(7) {
    display: none;
}
